{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block main %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Acerca del ranking</h2>
          <p>
            El ranking de Mitos y Leyendas México va a dar pases a X torneo, los torneos como premieres,
            prelanzamientos y clasificatorios al campeon de campeones van a dar puntos
          </p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
